# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
node_modules
dist
.next

# Environment (contains sensitive data)
.env
.env.*
!.env.example

# Files not required for production
README.md
Dockerfile
docker-compose.yml
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.idea
.DS_Store 